* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2,
section h3,
form button{    
    font-family: 'Bungee',cursive;
    font-weight: normal;
}

body, input, textarea{
    font-family:'roboto', sans-serif;
}

header{
    padding: 16px 0;
    background-color: #000000;
    color: #53c1dd;
}

header nav li{
    display:inline;
    margin-left: 16px;
    font-size: 18px
}

header nav li a{
    color: #55b8d1;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width:100%;
    margin:0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
}

.brands-list li{
    display:inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section{
    color: #000000;
}
section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

#about img {
    height: 600px;
}


.download img {
    height: 24px;
}

.download li{
    display: inline;
    margin-right: 8px;
}

.download li a{
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320PX;
    padding: 8px;
    margin-bottom: 8px;
}

form textarea{
    resize: none;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: #00c5f7 ;
    color: #fff;
    border:none;
    cursor: pointer;
}

form button:hover{
    background-color:#00ffea;
}

input:focus, textarea:focus {
    outline-color: #000000;
}

footer{
    background-color: #000000;
    color: #fff;
    padding: 16px 0;
}